$border-radius-base     : 2px

$padding                : 14px

$purple                 : #2a273d
$purple-light           : #935ea6
$purple-lighter         : #ccb7d8

$gray                   : #777777

$font-family-base       : 'Open Sans', sans-serif
$font-weight-semi       : 400
$font-weight-bold       : 600

$sidebar-width          : 35%
