.main-container{ng_controller: "divvyController"}
  .sidebar{ng_class: "{\"sidebar-show-results\": areResultsShowing}" }
    .sidebar-inner
      .sidebar-initial-state
        %h1 Divvy Trip Planner
        %p Enter origin & destination to get step-by-step directions with time estimates based on 2013 &ndash; 2014 Divvy trip data.
        %form{name: "directionsForm"}
          .input-group
            .input
              %input{placeholder: "Choose an origin...", ng_model: "directionsOrigin", required: true, ng_autocomplete: true}
            .sidebar-initial-state-destination.input
              %input{placeholder: "Choose a destination...", ng_model: "directionsDestination", required: true, ng_autocomplete: true}

          %input.btn.btn-primary{type: "submit", value: "Calculate Trip", ng_disabled: "!directionsForm.$valid", ng_click: "clickToggleResults()"} 

        = link_to "//kohactive.com", class: "kohactive", target: "_blank" do
          .chicon
          .chicon
          %span Made By
          .chicon
          .chicon
          = image_tag "kohactive.svg", alt: "kohactive"

      .sidebar-result
        .sidebar-result-header
          %button.btn.fa.fa-chevron-left{ng_click: "clickToggleResults()"}
          %h2 Result

        .sidebar-result-body
          %h3 We've calculated your trip!

          .sidebar-result-time{ ng_if: "result.divvy.trips" }
            .sidebar-result-time-average{ng_class: "resultColor"}
              average
              %span {{result.divvy.avg}}min
              
              %button.btn{ng_popover: true, type: "button"} {{result.divvy.trips}}


            .sidebar-result-time-slowest
              slowest
              %span {{result.divvy.max}}min

            .sidebar-result-time-fastest
              fastest
              %span {{result.divvy.min}}min

          .sidebar-result-directions
            %h4 Directions

            .direction-start.direction
              .direction-left
                .mdi-maps-place.direction-left-centered
              .direction-right
                %span Starting At
                {{directionsOrigin}}

            %div{ng_repeat: "step in walkingToDirections"}
              .direction-step-walking.direction-step.direction
                .direction-left
                  .direction-left-centered
                    .mdi-maps-directions-walk
                    .fa{ng_if: "step.maneuver", ng_class: "'fa-arrow-' + maneuverToIcon(step.maneuver)"}
                .direction-right
                  %div{ng_bind_html: "step.html_instructions"}
                  %span {{step.duration.text}} ({{step.distance.text}})

            .direction-start.direction
              .direction-left
                .divvy-icon.direction-left-centered
              .direction-right
                %span Grab a Divvy at
                {{result.divvy.origin_station.name}}

            %div{ng_repeat: "step in bikingDirections"}
              .direction-step-bicycling.direction-step.direction
                .direction-left
                  .direction-left-centered
                    .mdi-maps-directions-bike
                    .fa{ng_if: "step.maneuver", ng_class: "'fa-arrow-' + maneuverToIcon(step.maneuver)"}
                .direction-right
                  %div{ng_bind_html: "step.html_instructions"}
                  %span {{step.duration.text}} ({{step.distance.text}})

            .direction-end.direction
              .direction-left
                .divvy-icon.direction-left-centered
              .direction-right
                %span Dispose of your Divvy at
                {{result.divvy.destination_station.name}}

            %div{ng_repeat: "step in walkingFromDirections"}
              .direction-step-walking.direction-step.direction
                .direction-left
                  .direction-left-centered
                    .mdi-maps-directions-walk
                    .fa{ng_if: "step.maneuver", ng_class: "'fa-arrow-' + maneuverToIcon(step.maneuver)"}
                .direction-right
                  %div{ng_bind_html: "step.html_instructions"}
                  %span {{step.duration.text}} ({{step.distance.text}})

            .direction-end.direction
              .direction-left
                .fa.fa-dot-circle-o.direction-left-centered
              .direction-right
                %span Ending At
                {{directionsDestination}}

  .map-container
    #map.map{data_initialize_map: true}


  #error-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title Hold Up!
        .modal-body
          %p {{serverError}}
        .modal-footer
          %button.btn.btn-primary{"data-dismiss" => "modal"} OK
