.main-container{ng_controller: "divvyController"}
  .sidebar{ng_class: "{\"sidebar-show-results\": areResultsShowing}" }
    .sidebar-inner
      .sidebar-initial-state
        %h1 Title
        %p Lorem ipsum dolor sit amet

        .input-group
          %input{placeholder: "Choose a starting point..."}
          %input{placeholder: "Choose a destination..."}

        %button.btn.btn-primary{ng_click: "clickToggleResults()"} Calculate Trip

      .sidebar-result
        .sidebar-result-header
          %button.btn.fa.fa-chevron-left{ng_click: "clickToggleResults()"}
          %h2 Results

  .map-container
    #map.map{data_initialize_map: true}
